# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Log files
*.log

# Dependency directories
node_modules/

# Local Database Files
db.json
courses.json
instructor_docs.json
code_artifact.html
